*
{
    margin:0;
    padding:0;
}

body
{
    box-sizing: border-box;
}

h1
{
    font-size:1.2em;
    color:gray
}

div.container
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

img
{
    height:40px;
    margin:10px;
}

nav
{
    padding-left: 50px;
}

a
{
    text-decoration:none;
    color:gray;
}

ul.list1
{
    margin-left: 120px;
    list-style-type: none;
    font-size:1em;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    gap:20px;
}

.games,.apps,.kids
{
    padding-bottom: 15px;
    font-size: 1.2em;
}


.games:hover,.apps:hover,.kids:hover
{
    padding-bottom: 10px;
    border-bottom: 3px solid #005c53 ;
    color:#66F58A ;
}

.container1
{
    width: 700px;
    margin-left:250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.phone,.tablet,.tv,.chromebook
{
    padding: 5px 40px;
    color:gray;
    text-decoration:none;
    font-weight:bold;
    font-size:1em;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.phone:hover,.tablet:hover,.tv:hover,.chromebook:hover
{
    padding: 5px 40px;
    color:gray;
    text-decoration:none;
    font-weight:bold;
    font-size:1em;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #a2efb5;
}

.phone
{
    background-image: url(images/phone.png);
    background-repeat: no-repeat;
    background-position: left;
}

.tablet
{
    background-image: url(images/tablet.png);
    background-repeat: no-repeat;
    background-position: left;
}

.tv
{
    background-image: url(images/tv.png);
    background-repeat: no-repeat;
    background-position: left;
}

.chromebook
{
    background-image: url(images/Laptop.png);
    background-repeat: no-repeat;
    background-position: left;
}


.Recommended
{
    margin-left:220px;
    margin-top:40px
}

.container3
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:15px; 
    align-items :center;
   
}
 
.card1,.card2,.card3
{
    height: 150px;
    width: 300px;
    border-radius: 5px;
}

.card1
{
    margin-left: 20px;
}

.container4
{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap:25px; 
    align-items :center;
    margin-left: 270px;
}

.logo4,.logo5,.logo6
{
    height: 60px;
    width: 70px;
    border-radius: 10px;
}

.group2
{
    margin-left: 100px;
}

.group3
{
    margin-left: 50px;
}

.group1,.group2,.group3
{
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption
{
    margin-left: 10px;
}

.container2
{
    margin-top: 30px;
    margin-left: 218px;
}

ul.list2
{
    display:flex;
    flex-direction:row ;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    list-style-type:none;
    margin-top: 30px;
    margin-left: 35px;
}


a.links2
{
    border: 1px solid gray;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

a.links2:hover
{
    border: 1px solid gray;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #a2efb5;
}

.container5
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    margin: 25px 0 0 220px;
}

li
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.element
{
    height: 70px;
    border-radius: 8px;
}